/* Basic styling */
body {background-color: #000000; font-family: arial;}
* {box-sizing: border-box;}
.azDiv {
	margin: auto;
	width: 100%;
	background-color: #666666;
	}
.azMargin{
	margin-top: 8px;
	margin-bottom: 48px;
}
.azAusgabe {
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 170px;
	margin-top: 10px;
	margin-bottom: 16px;
	}
.azButtonStart{
	border-radius: 12px;
	background-color: #00cc00;
	color: #000000;
	cursor: pointer;
	padding: 4px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	font-weight: bold;
	font-size: 40px;
	}
.azButtonStop{
	border-radius: 12px;
	background-color: #ff3333;
	color: #000000;
	cursor: pointer;
	padding: 4px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	font-weight: bold;
	font-size: 40px;
	}
.tooltip {
    position: relative;
    }
.displayText {
    position: absolute;
    width: 220px;
    background-color: #666666;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    margin-top: 4px;
    margin-left: -202px;
    padding: 8px 0;
    visibility: hidden;
    }
.displayText::before {
    position: absolute;
    }
.show {
    visibility: visible;
    }
.horizontalRow {
	height: 1px;
	color: #FFFFFF;
}

/* Tablet menu */
@media all and (min-width: 700px) {
body {background-color: #4b4444; font-family: arial;}
* {box-sizing: border-box;}
.azDiv {
	margin: auto;
	width: 100%;
	}
.azMargin{
	margin-top: 8px;
	margin-bottom: 48px;
}
.azAusgabe {
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 170px;
	margin-top: 10px;
	margin-bottom: 16px;
	}
.azButtonStart{
	border-radius: 12px;
	background-color: #00cc00;
	color: #000000;
	cursor: pointer;
	padding: 4px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	width: 70%;
	font-weight: bold;
	font-size: 40px;
	}
.azButtonStop{
	border-radius: 12px;
	background-color: #ff3333;
	color: #000000;
	cursor: pointer;
	padding: 4px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	width: 70%;
	font-weight: bold;
	font-size: 40px;
	}
.tooltip {
	position: relative;
	}
.displayText {
	position: absolute;
	width: 220px;
	background-color: #666666;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	margin-top: 4px;
	margin-left: -202px;
	padding: 8px 0;
	visibility: hidden;
	}
.displayText::before {
	position: absolute;
	}
.show {
	visibility: visible;
	}
}
/* Desktop menu */
@media all and (min-width: 960px) {
	body {background-color: #3a3a3a; font-family: arial;}
* {box-sizing: border-box;}
.azDiv {
	margin: auto;
	margin-top: 40px;
	width: 30%;
	background-color: #ebebeb98;
	border-radius: 12px;
	padding-bottom: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
.azMargin{
	margin-top: 8px;
	margin-bottom: 48px;
}
.azAusgabe {
	text-align: center;
	font-weight: bold;
	color: #292929;
	font-size: 170px;
	margin-top: 10px;
	margin-bottom: 16px;
	}
.azButtonStart{
	border-radius: 12px;
	border-color: #000000;
	background-color: #00cc00b7;
	color: #000000;
	cursor: pointer;
	padding: 4px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	width: 70%;
	font-weight: bold;
	font-size: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
.azButtonStop{
	border-radius: 12px;
	border-color: #000000;
	background-color: #ff3333a8;
	color: #000000;
	cursor: pointer;
	padding: 4px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	width: 70%;
	font-weight: bold;
	font-size: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
.tooltip {
	position: relative;
	float: right;
	}
.displayText {
	position: absolute;
	width: 220px;
	background-color: #666666;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	margin-left: auto;
 	margin-right: auto;
	padding: 8px 0;
	visibility: hidden;
	}
.displayText::before {
	position: absolute;
	}
.show {
	visibility: visible;
	}
.horizontalRow {
	width: 200px;
	height: 1px;
	background-color: #FFFFFF;
	margin-left: auto;
 	margin-right: auto;
}
}